doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
    title Database
  body.title
    .container-fluid
      // Header
      .row
        .col-lg-12.col-sm-12
          h1.title Database
      .col-lg-12.col-sm-12
        ul.bar
          li
            a(href='/') Home
          li
            a(href='/pacman') Pacman
          li
            a(href='/database') Database

          if loggedInUser
            li#right-side-button
              a(href='/profile') Profile
            li#right-side-button
              a(href='/signOut') Log Out

          else
            li#right-side-button
              a(href='/signUp') Register
            li#right-side-button
              a(href='/login') Log In

    p
    table.database(align='center')
        tr
            th ID
            th LAST NAME
            th FIRST NAME
            th AGE
            th CITY
            th COUNTRY
            if loggedInUser
                th DELETE
                th EDIT
            else

        for persons in population
            tr
            for person in persons
                td #{person}
            if loggedInUser
                td.edit
                    form(method='post' action='/deleteUser')
                        button.btn.btn-info(type='submit' name='buttonSubmit' value=persons.id onclick='return confirm ("Are you sure you want to delete this user from the database?")')
                            i.fas.fa-trash-alt
                td.edit
                    form(method='post' action='/editUser')
                        button.btn.btn-info(type='submit' name='buttonSubmit' value=persons)
                            i.fas.fa-edit
            else                

    p 
    h3(align='center') Add Info to Database:
    p

    .row
        .col-lg-4.col-sm-12.offset-4
            form.form(method="post" action='/newPerson' align='center')
                div
                    | First name:
                    br
                    input(type='text', name='firstName')
                    br
                    |         Last name:
                    br
                    input(type='text', name='lastName')
                    br
                    |         Age:
                    br
                    input(type='number', name='age')
                    br
                    |         City:
                    br
                    input(type='text', name='city')
                    br
                    |         Country:
                    br
                    input(type='text', name='country')
                    br
                    br
                    input(type='submit', value='Submit')
