extends layout

block content

      .row
        .col-lg-7.col-sm-12.section
          p
          h2.title My name is Josh Brook
          p I am currently doing work experience in Oath
          p
            | You can find their webiste 
            a(href='https://www.oath.com') here
          p
      .row
        .col-lg-5.col-sm-12.section
            p  
            p.big
              | I'm looking forward to learning about:
            ol.fancyList
              li HTML
              li CSS
              li JavaScript
            p
        .col-lg-5.col-sm-12.section
            p
            p.big My hobbies include:
            ul.fancyList
              li Football
              li Hockey
              li Badminton
              li Video games
            p