extends layout

block content

      .row
        .col-lg-12.col-sm-12.text-center
          p
          h2.title My name is Josh Brook
          p.heading I am currently doing work experience in Oath
          p.heading1
            | You can find their webiste 
            a(href='https://www.oath.com') here
          p
      .row
        .col-lg-4.col-sm-12
          .card.card-body.bg-light
            p  
            p.big
              | I'm looking forward
              br
              | to learning about:
            ol.fancyList
              li HTML
              li CSS
              li JavaScript
            p
        .col-lg-4.col-sm-12
          .card.card-body.bg-light
            p
            p.big My hobbies include:
            ul.fancyList
              li Football
              li Hockey
              li Badminton
              li Video games #{josh}
            p
        .col-lg-4.col-sm-12
          .card.card-body.bg-light
            p  
            p.big
              | Placeholder
              br
              | Placeholder
            ol.fancyList
              li Placeholder
              li Placeholder
              li Placeholder
            p